In [1]:
import pandas as pd

## RMSE

In [22]:
# 예시 데이터 셋
df=pd.DataFrame({
    'Actual': [4,3.5,5,2],
    'Predict' : [3,4,3,4]})
df

   Actual  Predict
0     4.0        3
1     3.5        4
2     5.0        3
3     2.0        4

error = Actual - Predict

In [23]:
df['error'] = df['Actual'] - df['Predict']
df

   Actual  Predict  error
0     4.0        3    1.0
1     3.5        4   -0.5
2     5.0        3    2.0
3     2.0        4   -2.0

**2

In [24]:
df['error']=df['error'] ** 2
df

   Actual  Predict  error
0     4.0        3   1.00
1     3.5        4   0.25
2     5.0        3   4.00
3     2.0        4   4.00

In [25]:
mse=df['error'].mean()
mse

2.3125

In [19]:
import numpy as np

In [26]:
rmse=np.sqrt(mse)
rmse

1.5206906325745548

In [27]:
from sklearn.metrics import mean_squared_error

In [30]:
mse2=mean_squared_error(df['Actual'],df['Predict'])
mse2

2.3125

In [31]:
np.sqrt(mse2)

1.5206906325745548

In [2]:
from sklearn.model_selection import train_test_split

In [ ]:
tarin